.players {
    width: 40%;
    margin: 0.5em 3em 0em 3em;
}

.close-btn {
    cursor: pointer;
    margin-left: 0.5em;
    transform: rotateZ(0deg);
    transition: 0.3s ease-in-out all;
}


img {
    height: 12px;
}

.close-btn:hover {
    transform: rotateZ(90deg);
    transition: 0.3s ease-in-out all;
}

th {
    margin-top: auto;
    margin-bottom: auto;
}

.players-block {
    color: white;
    border-radius: 0.5em;
    min-height: 350px;
    padding: 1em;
    background-color: #00A000;
    max-height: 350px;
    /* overflow-y: scroll; */
}

.player-input {
    display: flex;
    justify-content: center;
    position: relative;
}

table {
    text-align: left;
}

input#number {
    width: 20%;
    border-radius: 0.5em 0 0 0.5em;
    border: 0;
    padding: 0.5em 1em;
    outline: none;
}

input#name {
    width: 80%;
    border-radius: 0 0.5em 0.5em 0;
    border: 0;
    padding: 0.5em 1em;
    outline: none;
    border-left: 2px #00A000 solid;
}

form {
    display: flex;
}

.btn-players {
    position: absolute;
    font-size: 17.25px;
    padding: 0.25em 0.5em;
    right: 0;
    cursor: pointer;
    border: none;
    border-left: #00A000 2px solid;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    border-radius: 0em 0.5em 0.5em 0;
}

.btn-players:hover {
    color: white;
    background-color: #00A000;
    border-left: none;
    border-radius: 0em 0.25em 0.25em 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}