.futboliukas select {
    border-radius: 8px;
    padding: 4px;
    margin-left: -2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-color: gold;
    cursor: pointer;
}

.futboliukas {
    background-color: gold !important;
    z-index: 9999;
    outline: none;
    width: 30px;
    justify-content: center;
    height: 30px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0;
    transition: 0.1s ease-in-out all;
}

.futboliukas:hover {
    background-color: rgb(255, 230, 0) !important;
    transition: 0.3s ease-in-out all;
    cursor: move;
}