.pitch {
    width: 40%;
    margin: 0.5em 3em 0em 3em;

}

.pitch img {
    width: 100%;
    border-radius: 0.5em;
}

.pitch-block {
    background-image: url(pitch.svg);
    background-size: contain;
    width: 315px;
    height: 475px;
    /* margin: auto; */
    border-radius: 8px;
}

.circle {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    top: 100px;
    left: 30px;
}