.user-formations {
    width: 40%;
    margin: 0em 3em 1em 3em;
    background-color: #cfcfcf;
}


.formations-block {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.formation {
    display: flex;
    align-items: center;
    width: 50px;
    flex-direction: column;
}

.formation-image {
    width: 50px;
    height: 50px;
    background-color: #00A000;
}

.formation-title {
    font-size: 0.75em;
    font-weight: 700;
}