.content {
    background-color: #cfcfcf;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 5em;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.row {
    justify-content: space-between;
    display: flex;
    gap: 20px;
}

h3 {
    letter-spacing: -1px;
}