.App {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

body {
    background-color: whitesmoke;
}

main {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


@media (max-width: 1400px) {
    main {
        width: 70%;
    }
}


@media (max-width: 1200px) {}


@media (max-width: 992px) {
    main {
        width: 80%;
    }
}


@media (max-width: 768px) {
    main {
        width: 90%;
    }

    input#newFormation {
        width: 100% !important;
    }

    .btn-add {
        right: 0 !important;
    }

    header {
        padding: 1em !important;
    }



}

@media (min-width: 576px) {
    .logout-icon {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .row {
        flex-direction: column;
    }

    .row:nth-of-type(2) {
        flex-direction: column-reverse;
    }

    header {
        flex-direction: column;
        width: auto !important;
    }

    /* .logout-icon {
        display: block !important;
    } */

    .header-left {
        display: none;
    }

    .user-formations, .default-formations {
        width: auto !important;
        margin: 0em 2em !important;
    }

    .pitch, .players {
        margin: 0 2em 2em 2em !important;
    }

    .players {
        width: auto !important;

    }


    .players-block {
        min-height: none !important;
    }

    .pitch {
        width: auto !important;
    }

}